<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>TypeChanges-Projects</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons
    ================================================== -->
    <link rel="icon" href="img/favicon/favicon-32x32.png" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/favicon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/favicon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="img/favicon/favicon-54x54.png">

    <!-- CSS
    ================================================== -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- Template styles-->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Responsive styles-->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="../css/animate.css">
    <!-- Prettyphoto -->
    <link rel="stylesheet" href="../css/prettyPhoto.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/owl.theme.css">
    <!-- Flexslider -->
    <link rel="stylesheet" href="../css/flexslider.css">
    <!-- Flexslider -->
    <link rel="stylesheet" href="../css/cd-hero.css">
    <!-- Style Swicther -->
    <link id="style-switch" href="../css/presets/preset3.css" media="screen" rel="stylesheet" type="text/css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="body-inner">
    <!-- Header start -->
    <header id="header" class="navbar-fixed-top header" role="banner">
        <div class="container">
            <div class="row">
                <!-- Logo start -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div><!--/ Logo end -->
                <nav class="collapse navbar-collapse clearfix" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../index.html"><p class="text-danger">Home</p></a></li>
                        <li><a href="projects.html"><p class="text-danger">Projects</p></a></li>
                        <!--<li><a href="examples1.html"><p class="text-danger">Examples</p></a></li>-->
                    </ul>
                </nav><!--/ Navigation end -->
            </div><!--/ Row end -->
        </div><!--/ Container end -->
    </header><!--/ Header end -->



    <section id="main-container">
        <div class="container">

            <!-- Company Profile -->
            <div class="row">
                <div class="col-md-12 heading">
                    <span class="title-icon classic pull-left"><i class="fa fa-suitcase"></i></span>
                    <h2 class="title classic">Commits of {{projectName}}</h2>
                </div>
            </div><!-- Title row end -->
            <table class="table table-dark" , id = {{projectName}}>
                <thead>
                <tr>
                    <th scope="col">SHA</th>
                    <th scope="col">Number of Jars</th>
                    <th scope="col">Number of Refactorings</th>
                    <th scope="col">Type Change reported</th>
                    <th scope="col">Dependencies Changed</th>
                    <th scope="col">Any Exception?</th>
                    <th scope="col">Exception</th>
                </tr>
                </thead>
                {% for c in commits %}
                <tr>
                    {% if c.refactoringsLink %}
                    <td><a href="{{c.refactoringsLink}}">{{c.sha}}</a></td>
                    {% else %}
                    <td>{{c.sha}}</td>
                    {% endif %}
                    <td>{{c.noOfJars}}</td>
                    <td>{{c.noOfRefactoring}}</td>
                    <td>{{c.typeChangeFound}}</td>
                    <td>{{c.dependenciesChanged}}</td>
                    <td>{{c.isException}}</td>
                    <td>{{c.exception}}</td>
                </tr>
                {% endfor %}
            </table>


        </div><!--/ 1st container end -->


        <div class="gap-60"></div>
    </section><!--/ Main container end -->

    <script src="../tablefilter/tablefilter.js"></script>
    <!--base_path: '../tablefilter/',-->
    <script>
        var tf = new TableFilter('{{projectName}}', {
        col_types: [
            'string', 'number', 'number',
            'string', 'string', 'string']
        });
        tf.init();
    </script>

    <!-- initialize jQuery Library -->
    <script type="text/javascript" src="../js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- Style Switcher -->
    <script type="text/javascript" src="../js/style-switcher.js"></script>
    <!-- Owl Carousel -->
    <script type="text/javascript" src="../js/owl.carousel.js"></script>
    <!-- PrettyPhoto -->
    <script type="text/javascript" src="../js/jquery.prettyPhoto.js"></script>
    <!-- Bxslider -->
    <script type="text/javascript" src="../js/jquery.flexslider.js"></script>
    <!-- CD Hero slider -->
    <script type="text/javascript" src="../js/cd-hero.js"></script>
    <!-- Isotope -->
    <script type="text/javascript" src="../js/isotope.js"></script>
    <script type="text/javascript" src="../js/ini.isotope.js"></script>
    <!-- Wow Animation -->
    <script type="text/javascript" src="../js/wow.min.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="../js/smoothscroll.js"></script>
    <!-- Eeasing -->
    <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="../js/jquery.counterup.min.js"></script>
    <!-- Waypoints -->
    <script type="text/javascript" src="../js/waypoints.min.js"></script>
    <!-- Template custom -->
    <script type="text/javascript" src="../js/custom.js"></script>
</div><!-- Body inner end -->
</body>
</html>